body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.card {
    margin-bottom: 20px;
    border: none;
    width: 500px;
    padding: 40px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(124, 160, 140);
    background: linear-gradient(90deg, rgb(11, 131, 65) 0%, rgb(11, 112, 53)100%);
}

.card label,
h1,
h6 {
    color: #fff;
}
