
<nav class="navbar navbar-expand-lg navbar-light bg-success">
    <div class="container-fluid">
      <h1 style="color:white;" class="navbar-brand" >ENTRUST SSO</h1>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        
         <div class="navbar-nav">
            <a style="color:white;" class="nav-link active" aria-current="page" routerLink="dashboard" >Dashboard</a>
            <a style="color:white;" class="nav-link" routerLink="/user-profile" >User Profile</a>
            <a style="color:white;" class="nav-link" routerLink="/users" >Users</a>
            <a style="color:white;" class="nav-link" routerLink="/icons" >Icons</a>
            <div class="d-flex">
            <button style="text-align:centre" routerLink="/login" class="btn btn-danger" type="button">Logout</button>
          </div>
           
      </div>
      </div>
    </div>
  </nav>
  <h1 class="text-center mt-2">User Management Application</h1>